<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>首页</h1>
    <p id="p">用户名: <%= username %></p>
    <p>注册时间: <%= date %></p>
    <!-- <script>
      //   console.log(location)
      let arr = location.search.split('=')
      let p = document.getElementById('p')

      p.textContent = '用户名: ' + decodeURI(arr[1])
    </script> -->
  </body>
</html>
